* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

.app-container {
  background-color: #dee0e3;
  height: 100vh;
}

.app-section {
  margin: auto;
}

.upper-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  padding: 13px;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
